/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
* {
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/

body {
  background: #f6f0e9;
  font-family: 'Crimson Text', serif;

}

header {
  height: 35px;
}

nav img {
  height: 50px;
  width: auto;
  padding-right: 150px;
  padding-left: 50px;
}

.contact {
  padding-right: 250px;
}

.bookOnline {
  width: 200px;
  border: solid #825542 2px;
  padding: 0 8px;
}

nav {
  display: flex;
  /* justify-content: space-around; */
  align-items: center;

}

nav a {
  text-decoration: none;
  color: #3a1b0f;
}

ul {
  display: flex;
}

ul li {
  list-style: none;
  width: 130px;
}

main {
  background: url(../assets/mainbg.png), #f6f0e9;
  background-repeat: no-repeat, no-repeat;
  /* background-position: center center, center center; */
  /* background-attachment: fixed, fixed; */
  background-size: cover, cover;
  height: 600px;
}

.services {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin: 50px 0;
}

.servicesIndividual {
  margin: 0 50px;
}

.aboutUs,
.lookbook {
  text-align: center;
}

.container,
.wg-slider {
  display: flex;
  justify-content: center;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

footer {
  display: flex;
}

footer>section {
  padding: 0 50px;
}

.ourCareUl {
  display: flex;
  flex-direction: column;
}

footer ul li {
  list-style: none;
  /* width: 130px; */
}